@model Cibertec.Models.Customer
@{
    ViewData["Title"] = "Index";
}

<h2>Detalle de Empleado</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombres
            </th>
            <th>
               Apellidos
            </th> 
        </tr>
    </thead>
    <tbody>
       
            <tr>
                <td>
                        @Model.FirstName
                </td>
                <td>
                        @Model.LastName
                </td>
            </tr>
        
    </tbody>
</table>