@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cibertec.Angular</title>

    <environment names="Development, Production">
        <link rel="stylesheet" href="~/libraries/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/jquery.signalR.min.js"></script>
        <script src="http://localhost/realtime/signalr/hubs"></script>
    </environment>
</head>
<body ng-controller="applicationController as vm"
      ng-init="init('@ViewBag.WebApiUrl')"
      >
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Cibertec.Angular</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ng-if="!vm.validate()" ui-sref="login"
                           ui-sref-active="active"
                           >Login</a></li>
                    <li><a ng-if="vm.validate()" 
                           ng-click="vm.logout()" 
                           ui-sref-active="active">Logout</a></li>
                    <li><a ng-if="vm.validate()"
                           ui-sref="product"
                           ui-sref-active="active">Product</a></li>
                    <li>
                        <a ng-if="vm.validate()"
                           ui-sref="customer"
                           ui-sref-active="active">Customer</a>
                    </li>
                    <li>
                        <a ng-if="vm.validate()"
                           ui-sref="supplier"
                           ui-sref-active="active">Supplier</a>
                    </li>
                    <li>
                        <a ng-if="vm.validate()"
                           ui-sref="order"
                           ui-sref-active="active">Order</a>
                    </li>
                    <li>
                        <a ng-if="vm.validate()"
                           ui-sref="orderitem"
                           ui-sref-active="active">Order Item</a>
                    </li>

                    <li>
                        <a ng-if="vm.validate()"
                           ui-sref="csv"
                           ui-sref-active="active">CSV File</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Cibertec.Angular</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/js/angular.js"></script>
        <script src="~/js/app-site.js"></script>
        <script src="~/js/app-cibertec.js"></script>
        <script src="~/js/worker.js"></script>

    </environment>

    <environment names="Production">
       
        <script src="~/js/angular.min.js"></script>
        <script src="~/js/app-site.min.js"></script>
        <script src="~/js/app-cibertec.min.js"></script>
    </environment>
</body>

</html>
