.product-card{
    background-color: $site-color-white;
    border-radius:5px;
    padding-top:.5rem;
    border:1px black solid;
    margin: .5rem;
    height:215px;
    div {
        padding-left:2rem;
    }
}